<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <p><%= @user.prefecture %>　<%= @user.area %></p>
      <p><%= @user.cultivation_area %>反</p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>


    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>

          <p class="report">
          <%= link_to(post.item, "/posts/#{post.id}") %>
          <%= link_to(post.work, "/posts/#{post.id}") %>
          </p>

          <p>
          <%= link_to(post.report, "/posts/#{post.id}") %>
          </p>
          <% if post.image %>
            <p>
              <img src="<%= post.image.media_name.post_image %>" >
            </p>
          <% end %>

          <p class="created_at">
          <%= link_to(post.created_at, "/posts/#{post.id}") %>
          </p>
          



        </div>
    <% end %>
  </div>
  
  
</div>